:root {
    --background: linear-gradient(#24292F 0%, #15181D 100%);
    --second-background: linear-gradient(#32353E 10%, #252A30 100%);
    --color: #d6d6d6;
    --color-primary: linear-gradient(#15778D 0%, #024555 100%);
    --color-secondary: linear-gradient(#126578 0%, #023e4d 100%);
}

* {
    margin: 0;
    padding: 0;
    direction: ltr;
    color: var(--color);
    font-family: "Montserrat Alternates",'Markazi Text' , 'Seguoe UI';
}

html {
    font-size: 100%;
}

.body {
    width: 100%;
    height: 100%;
    background: var(--background);
}

input,
button {
    font: inherit;
}

header {
    background: var(--color-primary);
}

header>h1 {
    font-size: 3.5rem;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#getInfo {
    background: var(--color-primary);
    border: 0px;
    border-radius: 12px;
    width: auto;
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#getInfo:hover {
    background: var(--color-secondary);
}

#city {
    color: var(--color);
    border-radius: 12px;
    border: 1px solid #126578;
    background: transparent;
    width: auto;
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
}

.results {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    height: auto;
    padding: .5rem;
    fill: transparent;
    border: transparent;
}

#card {
    width: calc(50% - 2rem);
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    background: var(--second-background);
    color: var(--color);
}


@media screen and (max-width: 768px) {
    .results {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #card {
        width: calc(100% - 2rem);
        margin: .5rem;
    }

    #city {
        width: calc(66% - 1rem);
    }

    #getInfo {
        width: calc(33% - 1rem);
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 130%;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 85%;
    }
}